[submodule "lib/arduino-espeak-ng"]
	path = lib/arduino-espeak-ng
	url = https://github.com/pschatzmann/arduino-espeak-ng.git
[submodule "lib/arduino-audio-tools"]
	path = lib/arduino-audio-tools
	url = https://github.com/pschatzmann/arduino-audio-tools.git
[submodule "lib/SdFat"]
	path = lib/SdFat
	url = https://github.com/greiman/SdFat.git
[submodule "lib/arduino-libhelix"]
	path = lib/arduino-libhelix
	url = https://github.com/pschatzmann/arduino-libhelix.git
[submodule "lib/arduino-posix-fs"]
	path = lib/arduino-posix-fs
	url = https://github.com/pschatzmann/arduino-posix-fs
[submodule "lib/Keypad"]
	path = lib/Keypad
	url = https://github.com/Chris--A/Keypad
[submodule "lib/tinyexpr"]
	path = lib/tinyexpr
	url = https://github.com/codeplea/tinyexpr
