Language:        Cpp
UseTab:          Always
TabWidth:        4
IndentWidth:     4
# Don't wrap lines.
ColumnLimit:     0
MaxEmptyLinesToKeep: 1
# Put braces on the same line.
BreakBeforeBraces: Attach
PointerBindsToType: true
AllowShortIfStatementsOnASingleLine: true
AccessModifierOffset: -4
